.loading {
  pointer-events: none;
  display: inline-block;
  aspect-ratio: 1 / 1;
  background-color: currentColor;
  mask-size: 100%;
  mask-repeat: no-repeat;
  mask-position: center;
}

.loading-spinner {
  mask-image: url("data:image/svg+xml,%3Csvg width='24' height='24' stroke='%23000' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cstyle%3E.spinner_V8m1{transform-origin:center;animation:spinner_zKoa 2s linear infinite}.spinner_V8m1 circle{stroke-linecap:round;animation:spinner_YpZS 1.5s ease-in-out infinite}@keyframes spinner_zKoa{100%{transform:rotate(360deg)}}@keyframes spinner_YpZS{0%{stroke-dasharray:0 150;stroke-dashoffset:0}47.5%{stroke-dasharray:42 150;stroke-dashoffset:-16}95%,100%{stroke-dasharray:42 150;stroke-dashoffset:-59}}%3C/style%3E%3Cg class='spinner_V8m1'%3E%3Ccircle cx='12' cy='12' r='9.5' fill='none' stroke-width='3'%3E%3C/circle%3E%3C/g%3E%3C/svg%3E");
}

.loading-ring {
  mask-image: url("data:image/svg+xml,%3Csvg width='44' height='44' viewBox='0 0 44 44' xmlns='http://www.w3.org/2000/svg' stroke='%23fff'%3E%3Cg fill='none' fill-rule='evenodd' stroke-width='2'%3E%3Ccircle cx='22' cy='22' r='1'%3E%3Canimate attributeName='r' begin='0s' dur='1.8s' values='1; 20' calcMode='spline' keyTimes='0; 1' keySplines='0.165, 0.84, 0.44, 1' repeatCount='indefinite' /%3E%3Canimate attributeName='stroke-opacity' begin='0s' dur='1.8s' values='1; 0' calcMode='spline' keyTimes='0; 1' keySplines='0.3, 0.61, 0.355, 1' repeatCount='indefinite' /%3E%3C/circle%3E%3Ccircle cx='22' cy='22' r='1'%3E%3Canimate attributeName='r' begin='-0.9s' dur='1.8s' values='1; 20' calcMode='spline' keyTimes='0; 1' keySplines='0.165, 0.84, 0.44, 1' repeatCount='indefinite' /%3E%3Canimate attributeName='stroke-opacity' begin='-0.9s' dur='1.8s' values='1; 0' calcMode='spline' keyTimes='0; 1' keySplines='0.3, 0.61, 0.355, 1' repeatCount='indefinite' /%3E%3C/circle%3E%3C/g%3E%3C/svg%3E");
}

.loading-xs {
  width: 1rem;
  height: 1rem;
}
.loading-sm {
  width: 1.25rem;
  height: 1.25rem;
}
.loading-md {
  width: 1.5rem;
  height: 1.5rem;
}
.loading-lg {
  width: 2.5rem;
  height: 2.5rem;
}

.loading-primary {
  @apply text-primary;
}
.loading-secondary {
  @apply text-secondary;
}
.loading-accent {
  @apply text-accent;
}
.loading-success {
  @apply text-success;
}
.loading-info {
  @apply text-info;
}
.loading-warning {
  @apply text-warning;
}
.loading-error {
  @apply text-error;
}

.loading-primary-bg-gradient {
  background-image: radial-gradient(circle, #3f5efb 0%, #2b006b 100%);
}
.loading-primary-gradient {
  background-image: linear-gradient(90deg, #2f0075 0%, #5d00ea 100%);
}
.loading-secondary-gradient {
  background-image: linear-gradient(90deg, #051b6e 0%, #0932c6 100%);
}
.loading-turquoise-gradient {
  background-image: linear-gradient(90deg, #036372 0%, #06b6d3 100%);
}
.loading-magenta-gradients {
  background-image: linear-gradient(90deg, #771746 0%, #d2297d 100%);
}
.loading-orange-gradient {
  background-image: linear-gradient(90deg, #e90507 0%, #ff6600 100%);
}
.loading-light-purple-gradient {
  background-image: linear-gradient(90deg, #aa45ff 0%, #7412e9 100%);
}
.loading-light-blue-gradient {
  background-image: linear-gradient(90deg, #00b0dc 0%, #0b4ee5 100%);
}
.loading-light-orange-gradient {
  background-image: linear-gradient(90deg, #ff6600 0%, #e80008 100%);
}
