.modal-overlay {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  width: 100%;
}

.modal-backdrop {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity 0.35s ease;
}

.modal-overlay.open .modal-backdrop {
  opacity: 1;
}

.modal-overlay.close .modal-backdrop {
  opacity: 0;
}

.modal-content {
  background: white;
  border-radius: 16px;
  padding: 16px;
  width: fit-content;
  transform: translateY(20px) scale(0.96);
  opacity: 0;
  transition: transform 0.35s ease, opacity 0.35s ease;
  max-height: 95dvh;
  overflow: scroll;
  width: 90%;
}

.modal-content.open {
  opacity: 1;
  transform: translateY(0) scale(1);
}

.modal-content.close {
  opacity: 0;
  transform: translateY(20px) scale(0.96);
}

/* responsive */
@media (min-width: 640px) {
  /* sm */
  .modal-content {
    max-width: 400px;
    padding: 12px;
  }
}

@media (min-width: 768px) {
  /* md */
  .modal-content {
    max-width: 600px;
    padding: 16px;
  }
}

@media (min-width: 1024px) {
  /* lg */
  .modal-content {
    max-width: 800px;
    padding: 16px;
  }
}
