@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "./styles/components.css";
@layer base {
  :root {
    --font-cario: "Cairo", sans-serif;
    --font-noto-kufi: "Noto Kufi Arabic", sans-serif;
    --primary-color: #2f0075;
    --secondry-color: #6200f6;
    --accent-color: #411fca;
    --goust-color: #eee5fd;
    --pink-color: #fe2464;
    --red-color: #e80008;
    --error-color: #d53430;
    --primary-bg-gradient: radial-gradient(
      circle,
      rgba(63, 94, 251, 1) 0%,
      rgba(43, 0, 107, 1) 100%
    );
    --primary-gradient: linear-gradient(
      90deg,
      rgba(47, 0, 117, 1) 0%,
      rgba(93, 0, 234, 1) 100%
    );
    --secondry-gradient: linear-gradient(
      90deg,
      rgba(5, 27, 110, 1) 0%,
      rgba(9, 50, 198, 1) 100%
    );
    --turquoise-gradient: linear-gradient(
      90deg,
      rgba(3, 99, 114, 1) 0%,
      rgba(6, 182, 211, 1) 100%
    );
    --magenta-gradients: linear-gradient(
      90deg,
      rgba(119, 23, 70, 1) 0%,
      rgba(210, 41, 125, 1) 100%
    );
    --orange-gradient: linear-gradient(
      90deg,
      rgba(233, 5, 7, 1) 0%,
      rgba(255, 102, 0, 1) 100%
    );
    --light-purple-gradient: linear-gradient(
      90deg,
      rgba(170, 69, 255, 1) 0%,
      rgba(116, 18, 233, 1) 100%
    );
    --light-blue-gradient: linear-gradient(
      90deg,
      rgba(0, 176, 220, 1) 0%,
      rgba(11, 78, 229, 1) 100%
    );
    --light-orange-gradient: linear-gradient(
      90deg,
      rgba(255, 102, 0, 1) 0%,
      rgba(232, 0, 8, 1) 100%
    );
  }
}

html {
  font-family: var(--font-cario);
}
body {
  background-color: #18023a !important;
}
* {
  font-family: var(--font-cario) !important;
  -webkit-tap-highlight-color: transparent;
}
.font-kufi {
  font-family: var(--font-noto-kufi) !important;
}
::-webkit-scrollbar {
  display: none;
}
::-webkit-scrollbar {
  display: none !important;
}
.inverted-radius {
  --r: 12px;
  --s: 15px;
  --x: 2px;
  --y: 2px;
  --t: 1px;
  --border-color: #5d00ea;
  aspect-ratio: 1;
  position: relative;

  border-radius: var(--r) var(--r) 0 0;

  --_m: /calc(2 * var(--r)) calc(2 * var(--r)) radial-gradient(#000 70%, #0000
        72%);
  --_g: conic-gradient(at calc(100% - var(--r)) var(--r), #0000 25%, #000 0);
  --_d: (var(--s) + var(--r));
  --mask-shape: calc(100% - var(--_d) - var(--x)) 0 var(--_m),
    100% calc(var(--_d) + var(--y)) var(--_m),
    radial-gradient(var(--s) at 100% 0, #0000 99%, #000 calc(100% + 1px))
      calc(-1 * var(--r) - var(--x)) calc(var(--r) + var(--y)),
    var(--_g) calc(-1 * var(--_d) - var(--x)) 0,
    var(--_g) 0 calc(var(--_d) + var(--y)),
    linear-gradient(#000 0 0) bottom / 100% 50% no-repeat;

  mask: var(--mask-shape);
  mask-repeat: no-repeat;
}

.inverted-radius::before {
  content: "";
  position: absolute;
  inset: var(--t) var(--t) 0 var(--t);
  border-radius: calc(var(--r) - var(--t)) calc(var(--r) - var(--t)) 0 0;

  mask: var(--mask-shape);
  mask-repeat: no-repeat;
}

@keyframes rotate-border {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.danger-border-box {
  position: relative;
  border-radius: 8px;
  z-index: 10;
  overflow: hidden;
  color: #dc2626 !important;
}

.danger-border-box::before {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  background: conic-gradient(transparent, #dc2626, transparent 30%);
  top: -50%;
  left: -50%;
  animation: rotate-border 2s linear infinite;
  z-index: -1;
}

.danger-border-box::after {
  content: "";
  position: absolute;
  inset: 3px;
  background: #f3e8ff;
  border-radius: 5px;
  z-index: -1;
}
