@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "./styles/components.css";
@layer base {
  :root {
    --font-cario: "Cairo", sans-serif;
    --primary-color: #2f0075;
    --secondry-color: #6200f6;
    --accent-color: #411fca;
    --goust-color: #eee5fd;
    --pink-color: #fe2464;
    --red-color: #e80008;
    --error-color: #d53430;
    --primary-bg-gradient: radial-gradient(
      circle,
      rgba(63, 94, 251, 1) 0%,
      rgba(43, 0, 107, 1) 100%
    );
    --primary-gradient: linear-gradient(
      90deg,
      rgba(47, 0, 117, 1) 0%,
      rgba(93, 0, 234, 1) 100%
    );
    --secondry-gradient: linear-gradient(
      90deg,
      rgba(5, 27, 110, 1) 0%,
      rgba(9, 50, 198, 1) 100%
    );
    --turquoise-gradient: linear-gradient(
      90deg,
      rgba(3, 99, 114, 1) 0%,
      rgba(6, 182, 211, 1) 100%
    );
    --magenta-gradient: linear-gradient(
      90deg,
      rgba(119, 23, 70, 1) 0%,
      rgba(210, 41, 125, 1) 100%
    );
    --orange-gradient: linear-gradient(
      90deg,
      rgba(233, 5, 7, 1) 0%,
      rgba(255, 102, 0, 1) 100%
    );
    --light-purple-gradient: linear-gradient(
      90deg,
      rgba(170, 69, 255, 1) 0%,
      rgba(116, 18, 233, 1) 100%
    );
    --light-blue-gradient: linear-gradient(
      90deg,
      rgba(0, 176, 220, 1) 0%,
      rgba(11, 78, 229, 1) 100%
    );
    --light-orange-gradient: linear-gradient(
      90deg,
      rgba(255, 102, 0, 1) 0%,
      rgba(232, 0, 8, 1) 100%
    );
  }
}
html {
  font-family: var(--font-cario);
}
* {
  font-family: var(--font-cario) !important;
}
::-webkit-scrollbar {
  display: none;
}
::-webkit-scrollbar {
  display: none !important;
}
.inverted-radius {
  --r: 12px; /* top radius */
  --s: 15px; /* size of inner curve */
  --x: 2px; /* horizontal offset */
  --y: 2px; /* vertical offset */
  --t: 1px; /* border thickness */
  --border-color: #5d00ea;

  aspect-ratio: 1;
  position: relative;

  border-radius: var(--r) var(--r) 0 0;

  --_m: /calc(2 * var(--r)) calc(2 * var(--r)) radial-gradient(#000 70%, #0000
        72%);
  --_g: conic-gradient(at calc(100% - var(--r)) var(--r), #0000 25%, #000 0);
  --_d: (var(--s) + var(--r));
  --mask-shape: calc(100% - var(--_d) - var(--x)) 0 var(--_m),
    100% calc(var(--_d) + var(--y)) var(--_m),
    radial-gradient(var(--s) at 100% 0, #0000 99%, #000 calc(100% + 1px))
      calc(-1 * var(--r) - var(--x)) calc(var(--r) + var(--y)),
    var(--_g) calc(-1 * var(--_d) - var(--x)) 0,
    var(--_g) 0 calc(var(--_d) + var(--y)),
    linear-gradient(#000 0 0) bottom / 100% 50% no-repeat;

  mask: var(--mask-shape);
  mask-repeat: no-repeat;
}

.inverted-radius::before {
  content: "";
  position: absolute;
  /* 3. Inset top and sides, but NOT the bottom */
  inset: var(--t) var(--t) 0 var(--t);
  /* background: #fff; */
  border-radius: calc(var(--r) - var(--t)) calc(var(--r) - var(--t)) 0 0;

  mask: var(--mask-shape);
  mask-repeat: no-repeat;
}
